@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'montserrat-txt';
    src: url(../fonts/Montserrat-Light.ttf);
}

body{
    background-image: linear-gradient(rgb(58, 58, 58), rgb(0, 0, 0));

}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

#logo_acesso {
    height: 250px;
    width: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    margin: 0 auto;
    align-self: center;
    margin-top: 90%;
    border: 2px white solid;
}

#fundo_index {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.index {
    background-image: none;
    background-color: black;
}

#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#txt_inicio {
    text-decoration: dashed;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'montserrat';
    display: inline-block;
}

.logo{
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
}

.logo_name{
    font-size: 19px;
    text-align: center;
    margin-top: 0px;
    color: white;
    font-family: 'montserrat';    
}

.subtitulo {
    font-size: 30px;
    font-family: 'montserrat';
    font-weight: bold;
    margin: 15px;
    color:white
}

.subtitulo1 {
    font-size: 25px;
    font-family: 'montserrat';
    margin: 15px;
    color: white;
}

h4 {
    color: white;
}

.text_column {
    font-size: 23px;
    font-family: 'montserrat-txt';
    text-align: justify;
    margin: 15px;
    color:white;
}

.button {
    width: 100px;
    height: 50px;
    margin: auto;
    display: block;
}

#menu {
    display: flex;
    margin: 0 auto 100px auto;
    width: 1350px;
    height: 50px;
    background-color: #2b9356;
    border:1px solid black;
}

#menu ul li {
    display: inline;
    padding: 10px;
    list-style: none;
}

#menu ul li a {
    font-size: 20px;
    font-family: 'montserrat';
    color: white;
    text-decoration: none;
    padding: 1px 5px;
}

#menu ul li a:hover{
    background-color: #68f056;
    color: black;
    cursor: pointer;
}

#logo_ibm{
    margin: 20px 20px 0 20px;
    float:left;
}

footer {
    height:35px;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    margin-top: 70px;
    font-family: 'montserrat-txt';
}

#img_problema {
    height: 200px;
    width: 340px;
    float:left;
    margin: 20px 20px 0 20px;
}

.problema {
    margin-bottom: 200px;
}

.problema p {
    margin-top: 30px;
    text-align: justify;
    max-width: 1920px;
}

.cliente {
    margin-bottom:120px;
}

.cliente p {
    margin-top: 30px;
    text-align: justify;
    max-width: 1920px;
}

#img_solucao {
    height: 200px;
    width: 340px;
    float:left;
    margin: 20px 20px 0 20px;
}

.solucao {
    margin-bottom: 280px;
}

.solucao p {
    margin-top: 30px;
    text-align: justify;
    max-width: 1920px;
}

#dores_img {
    height: 200px;
    width: 340px;
    float:left;
    margin: 20px 20px 0 20px;
}

.dores {
    margin-bottom: 240px;
}

.dores p {
    margin-top: 30px;
    text-align: justify;
    max-width: 1920px;
}

#imp_neg_img {
    height: 200px;
    width: 340px;
    float:left;
    margin: 20px 20px 0 20px;
}

#impactos_negativos {
    margin-bottom: 145px;
}

#impactos_negativos p {
    margin-top: 30px;
    text-align: justify;
    max-width: 1920px;
}

#imp_pos_img {
    height: 200px;
    width: 340px;
    float:left;
    margin: 20px 20px 0 20px;
}

#impactos_positivos {
    margin-bottom: 160px;
}

#impactos_positivos p {
    margin-top: 30px;
    text-align: justify;
    max-width: 1920px;
}

#nomes {
    list-style-type: square;
    color: white;
    font-family: 'montserrat-txt';
}